In [1]:
import pandas as pd
import xgboost as xgb
from sklearn import preprocessing
from sklearn.metrics import mean_absolute_error

In [2]:
data = pd.read_csv('russian_demography.csv', delimiter=',')
data

,year,region,npg,birth_rate,death_rate,gdw,urbanization
0,1990,Republic of Adygea,1.9,14.2,12.3,84.66,52.42
1,1990,Altai Krai,1.8,12.9,11.1,80.24,58.07
2,1990,Amur Oblast,7.6,16.2,8.6,69.55,68.37
3,1990,Arkhangelsk Oblast,3.7,13.5,9.8,73.26,73.63
4,1990,Astrakhan Oblast,4.7,15.1,10.4,77.05,68.01
...,...,...,...,...,...,...,...
2375,2017,Chuvash Republic,-1.3,11.3,12.6,76.63,62.00
2376,2017,Chukotka Autonomous Okrug,3.7,13.1,9.4,58.23,70.00
2377,2017,Sakha (Yakutia) Republic,6.4,14.5,8.1,70.10,65.50
2378,2017,Yamalo-Nenets Autonomous Okrug,9.1,14.0,4.9,53.57,83.70
2379,2017,Yaroslavl Oblast,-4.7,10.5,15.2,82.61,81.70

In [3]:
data.dropna(inplace=True)
encoder = preprocessing.LabelEncoder()
data['region'] = encoder.fit_transform(data[['region']].squeeze())
data

      year  region  npg  birth_rate  death_rate    gdw  urbanization
0     1990      47  1.9        14.2        12.3  84.66         52.42
1     1990       0  1.8        12.9        11.1  80.24         58.07
2     1990       2  7.6        16.2         8.6  69.55         68.37
3     1990       3  3.7        13.5         9.8  73.26         73.63
4     1990       4  4.7        15.1        10.4  77.05         68.01
...    ...     ...  ...         ...         ...    ...           ...
2375  2017      10 -1.3        11.3        12.6  76.63         62.00
2376  2017       9  3.7        13.1         9.4  58.23         70.00
2377  2017      62  6.4        14.5         8.1  70.10         65.50
2378  2017      82  9.1        14.0         4.9  53.57         83.70
2379  2017      83 -4.7        10.5        15.2  82.61         81.70

[2315 rows x 7 columns]

In [4]:
train = data[data['year'] != 2017]
test = data[data['year'] == 2017]

In [5]:
train

      year  region   npg  birth_rate  death_rate    gdw  urbanization
0     1990      47   1.9        14.2        12.3  84.66         52.42
1     1990       0   1.8        12.9        11.1  80.24         58.07
2     1990       2   7.6        16.2         8.6  69.55         68.37
3     1990       3   3.7        13.5         9.8  73.26         73.63
4     1990       4   4.7        15.1        10.4  77.05         68.01
...    ...     ...   ...         ...         ...    ...           ...
2290  2016      10   0.0        13.2        13.2  74.05         61.30
2291  2016       9   3.6        13.6        10.0  56.18         69.20
2292  2016      62   7.6        16.0         8.4  67.83         65.40
2293  2016      82  10.1        15.4         5.3  51.10         83.70
2294  2016      83  -3.6        12.1        15.7  80.23         81.70

[2230 rows x 7 columns]

In [6]:
test

      year  region  npg  birth_rate  death_rate    gdw  urbanization
2295  2017      47 -2.0        10.6        12.6  80.22          47.3
2296  2017       0 -3.2        10.8        14.0  83.61          56.3
2297  2017       2 -1.6        11.8        13.4  75.14          67.3
2298  2017       3 -2.7        10.5        13.2  81.16          78.0
2299  2017       4  0.7        12.1        11.4  78.19          66.5
...    ...     ...  ...         ...         ...    ...           ...
2375  2017      10 -1.3        11.3        12.6  76.63          62.0
2376  2017       9  3.7        13.1         9.4  58.23          70.0
2377  2017      62  6.4        14.5         8.1  70.10          65.5
2378  2017      82  9.1        14.0         4.9  53.57          83.7
2379  2017      83 -4.7        10.5        15.2  82.61          81.7

[85 rows x 7 columns]

In [7]:
x_train = train.drop('birth_rate', axis=1)
y_train = train[['birth_rate']]
x_test = test.drop('birth_rate', axis=1)
y_test = test[['birth_rate']]

In [8]:
x_train

      year  region   npg  death_rate    gdw  urbanization
0     1990      47   1.9        12.3  84.66         52.42
1     1990       0   1.8        11.1  80.24         58.07
2     1990       2   7.6         8.6  69.55         68.37
3     1990       3   3.7         9.8  73.26         73.63
4     1990       4   4.7        10.4  77.05         68.01
...    ...     ...   ...         ...    ...           ...
2290  2016      10   0.0        13.2  74.05         61.30
2291  2016       9   3.6        10.0  56.18         69.20
2292  2016      62   7.6         8.4  67.83         65.40
2293  2016      82  10.1         5.3  51.10         83.70
2294  2016      83  -3.6        15.7  80.23         81.70

[2230 rows x 6 columns]

In [9]:
y_train

      birth_rate
0           14.2
1           12.9
2           16.2
3           13.5
4           15.1
...          ...
2290        13.2
2291        13.6
2292        16.0
2293        15.4
2294        12.1

[2230 rows x 1 columns]

In [10]:
model = xgb.XGBRegressor(eval_metric=mean_absolute_error)
model.fit(x_train, y_train, eval_set=[(x_test, y_test)])

[0]	validation_0-rmse:7.79545	validation_0-mean_absolute_error:7.58632
[1]	validation_0-rmse:5.27654	validation_0-mean_absolute_error:5.08431
[2]	validation_0-rmse:3.59040	validation_0-mean_absolute_error:3.41618
[3]	validation_0-rmse:2.42599	validation_0-mean_absolute_error:2.24018
[4]	validation_0-rmse:1.63014	validation_0-mean_absolute_error:1.42184
[5]	validation_0-rmse:1.13715	validation_0-mean_absolute_error:0.92614
[6]	validation_0-rmse:0.80639	validation_0-mean_absolute_error:0.61460
[7]	validation_0-rmse:0.62278	validation_0-mean_absolute_error:0.47036
[8]	validation_0-rmse:0.52289	validation_0-mean_absolute_error:0.41353
[9]	validation_0-rmse:0.48990	validation_0-mean_absolute_error:0.38805
[10]	validation_0-rmse:0.48424	validation_0-mean_absolute_error:0.38638
[11]	validation_0-rmse:0.48394	validation_0-mean_absolute_error:0.38400
[12]	validation_0-rmse:0.47744	validation_0-mean_absolute_error:0.38482
[13]	validation_0-rmse:0.48773	validation_0-mean_absolute_error:0.40045
[14]	validation_0-rmse:0.48191	validation_0-mean_absolute_error:0.39988
[15]	validation_0-rmse:0.48278	validation_0-mean_absolute_error:0.40149
[16]	validation_0-rmse:0.48435	validation_0-mean_absolute_error:0.40179
[17]	validation_0-rmse:0.47220	validation_0-mean_absolute_error:0.39240
[18]	validation_0-rmse:0.46475	validation_0-mean_absolute_error:0.38404
[19]	validation_0-rmse:0.45703	validation_0-mean_absolute_error:0.37819
[20]	validation_0-rmse:0.45925	validation_0-mean_absolute_error:0.37993
[21]	validation_0-rmse:0.45722	validation_0-mean_absolute_error:0.37818
[22]	validation_0-rmse:0.45041	validation_0-mean_absolute_error:0.37246
[23]	validation_0-rmse:0.44760	validation_0-mean_absolute_error:0.37081
[24]	validation_0-rmse:0.44495	validation_0-mean_absolute_error:0.36701
[25]	validation_0-rmse:0.44252	validation_0-mean_absolute_error:0.36596
[26]	validation_0-rmse:0.44100	validation_0-mean_absolute_error:0.36470
[27]	validation_0-rmse:0.43615	validation_0-mean_absolute_error:0.36080
[28]	validation_0-rmse:0.43573	validation_0-mean_absolute_error:0.36014
[29]	validation_0-rmse:0.43578	validation_0-mean_absolute_error:0.36040
[30]	validation_0-rmse:0.43183	validation_0-mean_absolute_error:0.35601
[31]	validation_0-rmse:0.43080	validation_0-mean_absolute_error:0.35557
[32]	validation_0-rmse:0.41873	validation_0-mean_absolute_error:0.34469
[33]	validation_0-rmse:0.41668	validation_0-mean_absolute_error:0.34239
[34]	validation_0-rmse:0.41721	validation_0-mean_absolute_error:0.34358
[35]	validation_0-rmse:0.41608	validation_0-mean_absolute_error:0.34267
[36]	validation_0-rmse:0.41587	validation_0-mean_absolute_error:0.34255
[37]	validation_0-rmse:0.41566	validation_0-mean_absolute_error:0.34258
[38]	validation_0-rmse:0.41576	validation_0-mean_absolute_error:0.34267
[39]	validation_0-rmse:0.41424	validation_0-mean_absolute_error:0.34058
[40]	validation_0-rmse:0.40622	validation_0-mean_absolute_error:0.33528
[41]	validation_0-rmse:0.40590	validation_0-mean_absolute_error:0.33463
[42]	validation_0-rmse:0.40374	validation_0-mean_absolute_error:0.33199
[43]	validation_0-rmse:0.40203	validation_0-mean_absolute_error:0.32963
[44]	validation_0-rmse:0.39975	validation_0-mean_absolute_error:0.32760
[45]	validation_0-rmse:0.39923	validation_0-mean_absolute_error:0.32732
[46]	validation_0-rmse:0.39901	validation_0-mean_absolute_error:0.32725
[47]	validation_0-rmse:0.39714	validation_0-mean_absolute_error:0.32544
[48]	validation_0-rmse:0.39366	validation_0-mean_absolute_error:0.32244
[49]	validation_0-rmse:0.38745	validation_0-mean_absolute_error:0.31874
[50]	validation_0-rmse:0.38152	validation_0-mean_absolute_error:0.31274
[51]	validation_0-rmse:0.38116	validation_0-mean_absolute_error:0.31243
[52]	validation_0-rmse:0.37937	validation_0-mean_absolute_error:0.31086
[53]	validation_0-rmse:0.37864	validation_0-mean_absolute_error:0.31050
[54]	validation_0-rmse:0.37881	validation_0-mean_absolute_error:0.31069
[55]	validation_0-rmse:0.37858	validation_0-mean_absolute_error:0.31053
[56]	validation_0-rmse:0.37847	validation_0-mean_absolute_error:0.31094
[57]	validation_0-rmse:0.37851	validation_0-mean_absolute_error:0.31095
[58]	validation_0-rmse:0.37572	validation_0-mean_absolute_error:0.30791
[59]	validation_0-rmse:0.37579	validation_0-mean_absolute_error:0.30791
[60]	validation_0-rmse:0.37517	validation_0-mean_absolute_error:0.30757
[61]	validation_0-rmse:0.37387	validation_0-mean_absolute_error:0.30634
[62]	validation_0-rmse:0.37156	validation_0-mean_absolute_error:0.30299
[63]	validation_0-rmse:0.37159	validation_0-mean_absolute_error:0.30249
[64]	validation_0-rmse:0.37154	validation_0-mean_absolute_error:0.30242
[65]	validation_0-rmse:0.37104	validation_0-mean_absolute_error:0.30114
[66]	validation_0-rmse:0.37087	validation_0-mean_absolute_error:0.30100
[67]	validation_0-rmse:0.37111	validation_0-mean_absolute_error:0.30146
[68]	validation_0-rmse:0.37066	validation_0-mean_absolute_error:0.30024
[69]	validation_0-rmse:0.37103	validation_0-mean_absolute_error:0.30099
[70]	validation_0-rmse:0.37015	validation_0-mean_absolute_error:0.29985
[71]	validation_0-rmse:0.37061	validation_0-mean_absolute_error:0.30017
[72]	validation_0-rmse:0.37061	validation_0-mean_absolute_error:0.30017
[73]	validation_0-rmse:0.36813	validation_0-mean_absolute_error:0.29842
[74]	validation_0-rmse:0.36663	validation_0-mean_absolute_error:0.29738
[75]	validation_0-rmse:0.36626	validation_0-mean_absolute_error:0.29710
[76]	validation_0-rmse:0.36593	validation_0-mean_absolute_error:0.29690
[77]	validation_0-rmse:0.36586	validation_0-mean_absolute_error:0.29685
[78]	validation_0-rmse:0.36424	validation_0-mean_absolute_error:0.29609
[79]	validation_0-rmse:0.36344	validation_0-mean_absolute_error:0.29534
[80]	validation_0-rmse:0.36311	validation_0-mean_absolute_error:0.29489
[81]	validation_0-rmse:0.36281	validation_0-mean_absolute_error:0.29430
[82]	validation_0-rmse:0.36279	validation_0-mean_absolute_error:0.29428
[83]	validation_0-rmse:0.36390	validation_0-mean_absolute_error:0.29495
[84]	validation_0-rmse:0.36390	validation_0-mean_absolute_error:0.29496
[85]	validation_0-rmse:0.36346	validation_0-mean_absolute_error:0.29485
[86]	validation_0-rmse:0.36373	validation_0-mean_absolute_error:0.29512
[87]	validation_0-rmse:0.36502	validation_0-mean_absolute_error:0.29592
[88]	validation_0-rmse:0.36538	validation_0-mean_absolute_error:0.29623
[89]	validation_0-rmse:0.36626	validation_0-mean_absolute_error:0.29722
[90]	validation_0-rmse:0.36612	validation_0-mean_absolute_error:0.29723
[91]	validation_0-rmse:0.36603	validation_0-mean_absolute_error:0.29735
[92]	validation_0-rmse:0.36436	validation_0-mean_absolute_error:0.29630
[93]	validation_0-rmse:0.36068	validation_0-mean_absolute_error:0.29375
[94]	validation_0-rmse:0.36045	validation_0-mean_absolute_error:0.29345
[95]	validation_0-rmse:0.36016	validation_0-mean_absolute_error:0.29234
[96]	validation_0-rmse:0.36018	validation_0-mean_absolute_error:0.29238
[97]	validation_0-rmse:0.36016	validation_0-mean_absolute_error:0.29236
[98]	validation_0-rmse:0.36003	validation_0-mean_absolute_error:0.29219
[99]	validation_0-rmse:0.36000	validation_0-mean_absolute_error:0.29183

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=<function mean_absolute_error at 0x000001C5934C6C10>,
             feature_types=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_threshold=64,
             max_cat_to_onehot=4, max_delta_step=0, max_depth=6, max_leaves=0,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1, predictor='auto',
             random_state=0, ...)

In [11]:
y_pred = model.predict(x_test)

In [12]:
mean_absolute_error(y_test, y_pred)

0.29183025584501376